__pycache__/
*.pyc
.DS_Store

.idea/

data/GFS/*.grib
data/GFS/*.grib2
data/GFS/*.meta.json
data/GFS/*.png

data/CMA/*.grib
data/CMA/*.grib2
data/CMA/*.meta.json
data/CMA/*.png

data/ERA5/*.grib
data/ERA5/*.grib2
data/ERA5/*.meta.json
data/ERA5/*.png

data/.DS_Store
data/Himawari/.DS_Store
data/Himawari/20*/
